.listImages-image{
    height: 150px !important;
    width: 100% !important;
}
.pagination {
    list-style: none;
    height: 31.5px;
    width: 31.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    cursor: pointer;
  }
  
  .pagination .active {
    background-color: #1e50ff;
    border-radius: 50%;
  }
  
  .page-item {
    list-style: none;
    padding: 2px 12px;
    margin-right: 5px;
    height: 31.5px;
    width: 31.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
  }
  .pagination li.previous{
    margin-right: 10px;
  }
  .pagination li.next{
    margin-left: 10px;
  }
  .img_actions{
    
  }